.product-hover {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  &:hover,
  &:focus {
    .buy-now {
      display: flex;
      background: rgba(255,255,255,0.4);
    }
  }

  .buy-now,
  .product-image {
    grid-area: 1 / 1 / 2 / 2;
  }
  .buy-now {
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;

    .buy-now-btn {
      background: var(--color-black);
      color: var(--color-white);
      text-transform: uppercase;
      padding: 10px 25px;
      font-size: 1rem;
    }
  }
}

.faqs {
  .accordion-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px 0px;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid;
    font-size: 1.2rem;

    .question {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.6rem;
    }

    .answer {
      overflow: hidden;
      transition: all 0.3s cubic-bezier(1, 0, 1, 0);
      height: auto;
      max-height: 9999px;
      font-size: 1rem;

      &.closed {
        max-height: 0px;
        transition: all 0.35s cubic-bezier(0, 1, 0, 1);
      }
    }
  }
}
